<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @volontary_type.name %>
</p>

<%= link_to 'Edit', edit_volontary_type_path(@volontary_type) %> |
<%= link_to 'Back', volontary_types_path %>
